$main-text: #000000;
$light-grey: #AEB6BD;
$violet: #6865DD;
$rose: #754FA7;
$text-white: #FFFFFF;
$yellow: #FFDE22;
$background: #FAF9F7;
$input-background: #F4F7F8;
$red: #F65252;
$card-background: #FFFFFF;

:root {
  --vs-radius: 16px;
}
